button, input {
    font-family: "Inter";
}
.content {
    padding-bottom: 50px;
    margin-left: 35px;
    margin-right: 35px;

    
    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 20px;
    }
    img {
        width: 140px;
        height: 120px;
        margin: auto;
        display: flex;
    }
    button {
        border: none;
        background: 0;
        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }
    
}
.card {
    border: 1px solid #f3f3f3;
    width: 210px;
    height: 260px;
    padding: 20px;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    p {
        text-align: center;
        font-size: 16px;
    }
    &:hover {
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06) ;
        transform: translateY(-5px);
    }
}
.cardBottom {
    display: flex;
    justify-content: space-between;

}
.cardInfo {
    display: grid;
    align-items: center;
    span {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        opacity: 0.5;
        font-size: 14px;
    }
    b {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 15px;
    }
}

.button {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    box-sizing: border-box;
}

.mainSneakers {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.contentInput {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.imgInput {
    form {
        display: flex;
        align-items: center;
        border: 1px solid #F3F3F3;
        border-radius: 10px;
        padding: 0 15px;
    }

    input {
        width: 200px;
        height: 45px;
        border: 0;
        outline: none;
        background: none;
    }
    img {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        
    }  

}


@media screen and (max-width: 1100px){
   
    .mainSneakers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto; 
        place-items: center;
        gap: 30px;

    }
}
@media screen and (max-width: 876px){
    .mainSneakers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; 
        place-items: center;
        gap: 30px;

    }
}
@media screen and (max-width: 596px){
    
    .contentInput {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 616px){
    .mainSneakers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
        place-items: center;
        gap: 30px;
    }
}